html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  padding: 75px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.customer-orders > div {
  border: 1px solid #D2D5D6;
}

.border-detail > div {
  border: 1px solid #e9e9e9;
}
