<div class="alert alert-danger" ng-if="ctrl.error">
  <p>{{ ctrl.error }}</p>
</div>
<div ng-if="ctrl.paid">
  <div class="alert alert-success">
    <p>The order has been paid!</p>
  </div>
  <br>
  <pre>
    {{ ctrl.order | json }}
  </pre>
  <a ui-sref="main"><h3>Go To Home</h3></a>
</div>
<div ng-if="ctrl.order && !ctrl.paid">
  <div class="row" ng-repeat="item in ctrl.order.items">
    <div class="col-xs-6 col-md-1">
      <div class="thumbnail">
        <img src="images/image2.png" alt="Image example">
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <h3><a ui-sref="products.detail({ productId: item.product })">{{ item.product_name }}</a></h3>
    </div>

	  <div class="col-xs-12 col-md-5 text-right">
      <h4><b>Unit Price: </b>{{item.unit_price | currency}}</h4>
      <h4><b>Quantity: </b>{{item.quantity}}</h4>
      <h4><b>Sub Total: </b>{{item.unit_price * item.quantity | currency}}</h4>
      <a href="#" ng-click="ctrl.deleteItem(item.product)">Remove item</a>
    </div>

    <div class="col-xs-12 col-md-12">
      <hr>
    </div>
  </div>
  <div class="row border-detail">
    <div class="col-sm-6">
      <h1>Select address</h1>
    </div>
    <div class="col-sm-6">
      <h1>Select payment method</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <br><br>
      <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.payNow()">Pay now</button>
    </div>
  </div>
</div>
