<!DOCTYPE html>
<html lang="en-us">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title ng-bind="pageTitle"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="MainCtrl as main">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="main">ECommerce</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <form class="navbar-form navbar-left" style="width: 60%" ng-submit="main.search()">
          <div class="input-group col-md-12">
            <input type="text" class="form-control" ng-model="main.q" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Search</button>
            </span>
          </div>
        </form>

        <ul class="nav navbar-nav nav-pills navbar-right">
          <li ng-if="$root.user"><a ui-sref="customers.detail({ customerId: $root.user.user_id })">{{$root.user.username}}</a></li>
          <li ng-class="{active: $state.includes('login')}" ng-if="!$root.user"><a ui-sref="login">Login</a></li>
          <li ng-class="{active: $state.includes('customers')}" ng-if="!$root.user"><a ui-sref="customers.register">Create Account</a></li>
          <li role="presentation">
            <a ui-sref="cart">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart <span class="badge">{{$root.cart.length}}</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    <div ui-view></div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          This is a foter!
        </div>
        <div class="col-md-6 text-right">
          <a ui-sref="sellers.register">Register as a seller</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/main.js" charset="utf-8"></script>
</body>
</html>
