<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="images/image.png" alt="Image example">
    </div>
    <p>
      <a ui-sref="customers.edit({customerId: customers.customer.id})">Edit profile</a>
    </p>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="page-header">
      <h3>{{ customers.customer.first_name }} {{ customers.customer.last_name }} <small>{{ customers.customer.email }}</small></h3>
    </div>
  </div>
</div>

<hr>

<div class="row ">
  <div class="col-xs-12 col-md-6">
    <h1>Orders</h1>
    <hr>
    <div class="row" ng-repeat="order in customers.orders">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <span ng-repeat="st in order.status"><b>{{ st.status }}</b> on {{ st.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}<br></span>
            </div>
            <div class="col-xs-12 col-md-5">

            </div>
          </div>
          <br>
          <div class="row" ng-repeat="item in order.items">
            <div class="col-xs-3 col-md-2">
              <div class="thumbnail">
                <img src="images/image.png" alt="Image example">
              </div>
            </div>
            <div class="col-xs-9 col-md-10">
              <p><b>{{ item.product_name }}</b></p>
              <p><span>Item status: </span><b>{{ item.status  }}</b></p>
              <p><span>Unit price: </span><b>{{ item.unit_price | currency }} x {{ item.quantity }}</b></p>
              <p><span>Tracking number: </span><b>{{ item.tracking_number  }}</b></p>
              <p><a ui-sref="products.detail({ productId: item.product })">Add a review</a></p>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <h3>Total Price: {{ customers.orderTotal(order) | currency }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <h1>Cart</h1>
  </div>
</div>
