<div class="row">
  <div class="col-sm-offset-2 col-md-8">
    <div class="page-header">
      <h1>Customer <small>Update</small></h1>
    </div>

    <form novalidate class="form-horizontal" method="post" name="form">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="alert alert-danger" ng-if="customers.error.length > 0">
          <p ng-repeat="err in customers.error">{{ err.message }}</p>
        </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.first_name.$touched) && !form.first_name.$valid}">
            <label for="first_name" class="col-sm-3 control-label">First name <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.first_name" id="first_name" name="first_name" required placeholder="First name">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.last_name.$touched) && !form.last_name.$valid}">
            <label for="last_name" class="col-sm-3 control-label">Last name <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.last_name" id="last_name" name="last_name" required placeholder="Last name">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.username.$touched) && !form.username.$valid}">
            <label for="username" class="col-sm-3 control-label">Username <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.username" id="username" name="username" required placeholder="Username">
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.phone" id="phone" name="phone" placeholder="Phone">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.email.$touched) && !form.email.$valid}">
            <label for="email" class="col-sm-3 control-label">Email <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="email" class="form-control" ng-model="customers.customer.email" id="email" name="email" required placeholder="Email">
              <div ng-show="form.$submitted || form.email.$touched">
                <span class="help-block" ng-show="form.email.$error.email">This is not a valid email.</span>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.password.$touched) && !form.password.$valid}">
            <label for="password" class="col-sm-3 control-label">Password <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="password" class="form-control" ng-model="customers.customer.password" id="password" name="password" required ng-minlength="3" placeholder="Password">
              <div ng-show="form.$submitted || form.password.$touched">
                <span class="help-block" ng-show="form.password.$error.minlength">Password must be length 3 at least.</span>
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
      </div>
      <div class="panel-body">

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.type.$touched) && !form.type.$valid}">
          <label for="type" class="col-sm-3 control-label">Type <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.type" id="type" name="type" required placeholder="Type">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.line1.$touched) && !form.line1.$valid}">
          <label for="line1" class="col-sm-3 control-label">Line 1 <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.line1" id="line1" name="line1" required placeholder="Line 1">
          </div>
        </div>

        <div class="form-group">
          <label for="line2" class="col-sm-3 control-label">Line 2</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.line2" id="line2" name="line2" placeholder="Line 2">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.city.$touched) && !form.city.$valid}">
          <label for="city" class="col-sm-3 control-label">City <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.city" id="city" name="city" required placeholder="City">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.state.$touched) && !form.state.$valid}">
          <label for="state" class="col-sm-3 control-label">State <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.state" id="state" name="state" required placeholder="State">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.zipcode.$touched) && !form.zipcode.$valid}">
          <label for="zipcode" class="col-sm-3 control-label">Zipcode <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.zipcode" id="zipcode" name="zipcode" required placeholder="Zipcode">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.country.$touched) && !form.country.$valid}">
          <label for="country" class="col-sm-3 control-label">Country <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.address.country" id="country" name="country" required placeholder="Country">
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Credit Card</h3>
      </div>
      <div class="panel-body">

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.card_type.$touched) && !form.card_type.$valid}">
          <label for="card_type" class="col-sm-3 control-label">Card type <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.credit_card.card_type" id="card_type" name="card_type" required placeholder="Card type">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.card_number.$touched) && !form.card_number.$valid}">
          <label for="card_number" class="col-sm-3 control-label">Number <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="number" class="form-control" ng-model="customers.customer.credit_card.card_number" id="card_number" name="card_number" required placeholder="Number">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.security_code.$touched) && !form.security_code.$valid}">
          <label for="security_code" class="col-sm-3 control-label">Security code <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.credit_card.security_code" id="security_code" name="security_code" required placeholder="Security code">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.name_on_card.$touched) && !form.name_on_card.$valid}">
          <label for="name_on_card" class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="customers.customer.credit_card.name_on_card" id="name_on_card" name="name_on_card" required placeholder="Name on Card">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.exp_month.$touched) && !form.exp_month.$valid}">
          <label for="exp_month" class="col-sm-3 control-label">Exp. Month <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="number" class="form-control" ng-model="customers.customer.credit_card.exp_month" id="exp_month" name="exp_month" required placeholder="Expiration Month">
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.exp_year.$touched) && !form.exp_year.$valid}">
          <label for="exp_year" class="col-sm-3 control-label">Exp. Year <span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="number" class="form-control" ng-model="customers.customer.credit_card.exp_year" id="exp_year" name="exp_year" required placeholder="Expiration Year">
          </div>
        </div>

      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-10 col-md-2 col-sm-9 text-right">
        <button type="submit" ng-click="customers.update()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>

  </div>
</div>
