<div class="row">
  <div class="col-sm-offset-2 col-md-8">
    <div class="page-header">
      <h1>Customer <small>Registration</small></h1>
    </div>
    <div class="panel panel-default">
      <!--<div class="panel-heading">
        <h3 class="panel-title">New Customer</h3>
      </div>-->
      <div class="panel-body">
        <div class="alert alert-danger" ng-if="customers.error.length > 0">
          <p ng-repeat="err in customers.error">{{ err.message }}</p>
        </div>

        <form novalidate class="form-horizontal" method="post" name="form">

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.first_name.$touched) && !form.first_name.$valid}">
            <label for="first_name" class="col-sm-3 control-label">First name <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.first_name" id="first_name" name="first_name" required placeholder="First name">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.last_name.$touched) && !form.last_name.$valid}">
            <label for="last_name" class="col-sm-3 control-label">Last name <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.last_name" id="last_name" name="last_name" required placeholder="Last name">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.username.$touched) && !form.username.$valid}">
            <label for="username" class="col-sm-3 control-label">Username <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.username" id="username" name="username" required placeholder="Username">
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="customers.customer.phone" id="phone" name="phone" placeholder="Phone">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.email.$touched) && !form.email.$valid}">
            <label for="email" class="col-sm-3 control-label">Email <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="email" class="form-control" ng-model="customers.customer.email" id="email" name="email" required placeholder="Email">
              <div ng-show="form.$submitted || form.email.$touched">
                <span class="help-block" ng-show="form.email.$error.email">This is not a valid email.</span>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.password.$touched) && !form.password.$valid}">
            <label for="password" class="col-sm-3 control-label">Password <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="password" class="form-control" ng-model="customers.customer.password" id="password" name="password" required ng-minlength="3" placeholder="Password">
              <div ng-show="form.$submitted || form.password.$touched">
                <span class="help-block" ng-show="form.password.$error.minlength">Password must be length 3 at least.</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" ng-click="customers.save(form)" class="btn btn-primary">Register</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
