<div class="row">
  <div class="col-sm-offset-2 col-md-8">
    <div class="page-header">
      <h1>Product <small>Registration</small></h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="alert alert-danger" ng-if="products.error.length > 0">
          <p ng-repeat="err in products.error">{{ err.message }}</p>
        </div>

        <form novalidate class="form-horizontal" method="post" name="form">

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.name.$touched) && !form.name.$valid}">
            <label for="name" class="col-sm-3 control-label">Name <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="products.product.name" id="name" name="name" required placeholder="Name">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.description.$touched) && !form.description.$valid}">
            <label for="description" class="col-sm-3 control-label">Description <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="3" ng-model="products.product.description" id="description" name="description" required placeholder="Description"></textarea>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.unit_price.$touched) && !form.unit_price.$valid}">
            <label for="unit_price" class="col-sm-3 control-label">Price <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="number" class="form-control" ng-model="products.product.unit_price" id="unit_price" name="unit_price" required placeholder="Price">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.quantity.$touched) && !form.quantity.$valid}">
            <label for="quantity" class="col-sm-3 control-label">Quantity <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="number" class="form-control" ng-model="products.product.quantity" id="quantity" name="quantity" required placeholder="Quantity">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.seller.$touched) && !form.seller.$valid}">
            <label for="seller" class="col-sm-3 control-label">Seller <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="number" class="form-control" ng-model="products.product.seller" id="seller" name="seller" required placeholder="Seller">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.category.$touched) && !form.category.$valid}">
            <label for="category" class="col-sm-3 control-label">Category <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="number" class="form-control" ng-model="products.product.category" id="category" name="category" required placeholder="Category">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" ng-click="products.save(form)" class="btn btn-primary">Save</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
