<h1 ng-if="cart.products.length < 1">Your cart is empty!</h1>
<div ng-if="cart.products.length > 0">
  <div class="row" ng-repeat="product in cart.products">
    <div class="col-xs-12 col-md-2">
      <div class="thumbnail">
        <img src="images/image2.png" alt="Image example">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3><a ui-sref="products.detail({ productId: product.id })">{{ product.name }}</a></h3>
    </div>

    <div class="col-xs-12 col-md-4 text-right">
      <h4><b>Unit Price: </b>{{product.unit_price | currency}}</h4>
      <h4><b>Quantity: </b>{{product.cartQuantity}}</h4>
      <h3><b>Sub Total: </b>{{product.unit_price * product.cartQuantity | currency}}</h3>
      <a href="#" ng-click="cart.delete(product.id)">Remove from cart</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 text-right">
      <h1><b>Total: </b>{{cart.getTotal() | currency}}</h1>
    </div>
    <br><br>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-danger btn-lg" ng-click="cart.deleteAll()">Delete Cart</button>
      <a ui-sref="checkout" class="btn btn-primary btn-lg">Checkout</a>
    </div>
  </div>
</div>
