<div class="row">
  <div class="col-xs-4 col-md-4" ng-repeat="product in main.products">
    <a class="thumbnail" ui-sref="products.detail({ productId: product.id })">
      <img src="images/image2.png" alt="Product {{product.id}}">
      <div class="caption">
        <h3>{{product.name.substr(0,20)}}</h3>
        <p>{{product.description.substr(0,35)}}</p>
        <p><b>{{product.unit_price | currency}}</b></p>
      </div>
    </a>
  </div>
</div>
