<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" ng-if="login.error">
          <p>{{ login.error }}</p>
        </div>

        <form novalidate class="form-horizontal" method="post" name="form">
          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.uEmail.$touched) && !form.uEmail.$valid}">
            <label for="uEmail" class="col-sm-2 control-label">Email <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="email" class="form-control" ng-model="user.email" id="uEmail" name="uEmail" required placeholder="Email">
              <div ng-show="form.$submitted || form.uEmail.$touched">
                <span class="help-block" ng-show="form.uEmail.$error.email">This is not a valid email.</span>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': (form.$submitted || form.uPassword.$touched) && !form.uPassword.$valid}">
            <label for="uPassword" class="col-sm-2 control-label">Password <span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <input type="password" class="form-control" ng-model="user.password" id="uPassword" name="uPassword" required ng-minlength="3" placeholder="Password">
              <div ng-show="form.$submitted || form.uPassword.$touched">
                <span class="help-block" ng-show="form.uPassword.$error.minlength">Password must be length 3 at least.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" ng-click="login.login(user)" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
